* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    font-family: 'Montserrat', sans-serif; 
    padding: 20px
}

.wrapper {
    background: #ffffff;
    display: flex;
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom:110px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.contacts-data {
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 10px;
}
 
.contacts-data-title {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 10px;
}

.tech-skills-container {
    width: 400px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.tech-skills-item {
    margin-left: 15px;
    color: #ff6b08;
    font-size: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.tech-skills-text {
    color: #ffffff;
    opacity: 1;
}


.left-sidebar-container{
    display: flex;
    flex-direction: column;
}

<style>
  
    #back-top a{
        width:50px;
        display:block;
        text-align:center;
        font:11px/100%, sans-serif;
        text-transform:lowercase;
        text-decoration:none;
        color: 0000;
        /*при наведении мышки меняем фон медленно*/
        -webkit-transition:1s;
        -moz-transition:1s;
        transition:1s;
    }

    /*при наведении мышки делаем фон оранжевым */
    #back-top a:hover{
        color:#ff6b08;
    }

        #back-top a:hover span{background-color: #ff6b08}
</style>

<script type="text/javascript">
    $(document).ready(function(){
        /* прячем кнопку #back-top */
        $("#back-top").hide();

        /* появление/затухание кнопки #back-top */
        $(function (){
            $(window).scroll(function (){
                if ($(this).scrollTop() > 100){
                    $('#back-top').fadeIn();
                } else{
                    $('#back-top').fadeOut();
                }
            });
    /* при клике на ссылку плавно поднимаемся вверх */
            $('#back-top a').click(function (){
                $('body,html').animate({
                    scrollTop:0
                }, 800);
                return false;
            });
        });
    });
</script>
    